ion-label {
    padding-left: 30px;
  }
  ion-card-header {
    padding: 5px;
  }
  ion-card-title {
    font-size: 15px;
    padding: 5px;
    --background: var(--ion-color-primary);
  }
  ion-card-content {
    font-size: 15px;
    color: #b0b0b0;
    padding: 5px;
  }
  .smalldata{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;
    padding-bottom: 0px;
  
    ion-grid{
      border-bottom: 4px solid var(--ion-color-tertiary);
      
      ion-col{
        font-weight: 500;
        padding: 15px;
      }
      ion-label{
        padding: 15px;
        text-align: left;
        width: 200px;
        color: #8d8d8d;
      }
    }
  }
  
  .header{
    padding: 20px; 
    background-color: var(--ion-color-primary);
     color: white;
  }
  
  .butang-cari{
  --border-radius: 40px;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
  rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  
  }
  
  .bigdata {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    
    ion-grid {
      border-bottom: 4px solid var(--ion-color-tertiary);
      ion-col {
        font-weight: 500;
        padding: 15px;
        width: 100%;
  
      }
      ion-label {
        padding: 0px 15px 15px 15px;
        padding-top: 0px;
        color: #8d8d8d;
        width: 100%;
      }
    }
  }
  .core {
    margin: 20px;
  }
  