<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="dark" (click)="closeModal()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Carian Hospital / Klinik Kerajaan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="header">
    <ion-row>
      <ion-col>
        Maklumat Diri
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="bigdata">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            Hospital / Klinik
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-item>
      <ion-label>Negeri</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option>Melaka</ion-select-option>
        <ion-select-option>Negeri Sembilan</ion-select-option>
      </ion-select>
    </ion-item>
    <br />


    <ion-item>
      <ion-label>Bandar</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option>Alor Gajah</ion-select-option>
        <ion-select-option>Simpang Ampat</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-checkbox></ion-checkbox>
      <ion-label>Hospital Kerajaan</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox></ion-checkbox>
      <ion-label>Klinik Kerajaan</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid class="header">
    <ion-row>
      <ion-col>
        Maklumat Diri
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="bigdata">
    <ion-grid>
      <ion-row>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap" style="padding-top: 15px;">
            Klinik Kesihatan Port Dickson
          </ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap" style="padding-top: 15px;">
            Klinik Kesihatan Lukut
          </ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap" style="padding-top: 15px;">
            Klinik Kesihatan Rembau
          </ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap" style="padding-top: 15px;">
            Klinik Kesihatan Kuala Pilah
          </ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap" style="padding-top: 15px;">
            Pusat Pakar Pergigian Seremban
          </ion-label>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>